
@import "partials/common/mixins";
@import "partials/common/fonts";
@import "partials/layout/landing-parallax";

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Gafata', sans-serif;
}

header {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;

  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
}

section, footer {
  // margin fix to avoid an odd border
  margin-top: -20px;
  text-align: center;
  padding-bottom: 30px !important;
}

footer {
//  background: #5854B5;
  background: url('../img/texture/zwartevilt/zwartevilt.png');
  color: white;

  @include box-shadow;

  .credits-container {

    position: relative;
    padding-bottom: 10px;

    a {
      text-decoration: none;
    }

    .credits {

      background: #888;

      display: table-cell;
      vertical-align: middle;

      height: 50px;
      background-position: right;
      background-repeat: no-repeat;
      border: solid 1px white;
      padding: 2px 203px 2px 3px;
      line-height: 1em !important;

      &.phpstorm {
        background-image: url('../img/credits/phpstorm_logo.gif');
        background-size: 200px 50px;
      }

      &.josdejong {
        background-image: url('../img/credits/jsoneditor_online.png');
        background-size: 200px 30px;
      }

      span {
        color: white;
        font-size: 0.9em;
        line-height: 0.1em;
      }
    }
  }
}

section {
  @include box-shadow;
  &:first-of-type header {
    padding-top: 0px;
  }
}
