<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Getting Started</h1>

            {% include 'partials/content-incomplete.twig' %}

            <h2>Update the space status</h2>

            <p>
                When creating your endpoint you'll get a private token. With this token you are authorized to edit your endpoint data and to push new sensor values. The following cURL command shows how you submit a state change. The endpoint URL will be shown on the edit page after you entered the token.
            </p>

            <pre><code>curl --data-urlencode sensors='{"state":{"open":true}}' --data key=&lt;token> &lt;endpoint-url>/sensor/set</code></pre>

            Allowed values are

            <ul>
                <li>true</li>
                <li>false</li>
                <li>null (status could not be determined)</li>
            </ul>
        </div>
    </div>
</div>