<section class="jeditor">

    {# dev-note:1 #}
    <header>
        <a name="jsoneditor"></a>
        <h2>Compose your endpoint JSON</h2>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {%
                    set jeditor_config = {
                        'default_input': jsoneditor_default_input | json_without_gist,
                        'use_noscript': true
                    }
                %}
                {% include 'partials/jsoneditor.twig' with jeditor_config only %}

                <a class="btn btn-default btn-lg" href="">Validate JSON</a> <a class="btn btn-default btn-lg" href="/endpoint/create">Create endpoint</a>

            </div>
        </div>
    </div>
</section>
