
{%
    do headLink()
        .appendStylesheet('/styles/page-endpoint-index.min.css')
%}

{# Include some scripts that are required for this page #}
{# Can we define an array with script paths and include within a loop? #}
{# # set scripts = ['test.js', 'test2.js']; #}
{%
    do headScript()
        .appendFile('/lib/angular-parallax/scripts/angular-parallax.js')
%}

<div ng-app="EndpointIndexApp">

    <div class="parallax-header table" parallax-background parallax-ratio="1.6">
        {% include('application/endpoint/index-section-create-endpoint.twig') %}
    </div>

    <div class="parallax-body" parallax-ratio="1">
        {% include('application/endpoint/index-section-project-links.twig') %}
        {% include('application/endpoint/index-section-json-editor.twig') %}
        {% include('application/endpoint/index-section-credits.twig') %}
    </div>

</div>

{%
    do headScript()
        .appendFile('/scripts/angular-apps/endpoint-index.js')
%}
