<section class="jeditor">

    {# dev-note:1 #}
    <header>
        <a name="jsoneditor"></a>
        <h2>Compose your endpoint JSON</h2>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% include('partials/jsoneditor.twig') %}

                <a class="btn btn-default btn-lg" href="">Validate JSON</a> <a class="btn btn-default btn-lg" href="/endpoint/create">Create endpoint</a>

            </div>
        </div>
    </div>
</section>
