
{# Include some stylesheets that are required for this page #}
{#{%  do headLink()#}
        {#.appendStylesheet('/styles/home/parallax.css')#}
{#%}#}

{# Include some scripts that are required for this page #}
{# Can we define an array with script paths and include within a loop? #}
{# # set scripts = ['test.js', 'test2.js']; #}
{%
    do headScript()
        .appendFile('/lib/angular-parallax/scripts/angular-parallax.js')
%}

<div ng-app="EndpointIndexApp">
    <div class="parallax-header table" parallax-background parallax-ratio="1.6">

        <h1>
            <a href="http://endpoint.spaceapi.net">
                SpaceAPI Hosting
            </a>
        </h1>

        <div class="create-endpoint table-cell">
            <a class="btn create-endpoint" href="#jsoneditor">
                Create an endpoint
            </a>
        </div>

    </div>

    <div class="parallax-body" parallax-ratio="1">

        {% include('application/endpoint/index-section-create-endpoint.twig') %}
        {% include('application/endpoint/index-section-project-links.twig') %}

        <section class="jeditor">

            {# dev-note:1 #}
            <header>
                <a name="jsoneditor"></a>
                <h2>Compose your endpoint JSON</h2>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        {% include('partials/jsoneditor.twig') %}

                        <a class="btn btn-default btn-lg" href="">Validate JSON</a> <a class="btn btn-default btn-lg" href="/endpoint/create">Create endpoint</a>

                    </div>
                </div>
            </div>
        </section>


        {% include('application/endpoint/index-section-credits.twig') %}

    </div>
</div>

{%
    do headScript()
        .appendFile('/scripts/angular-apps/endpoint-index.js')
%}
