
{# Include some stylesheets that are required for this page #}
{#{%  do headLink()#}
        {#.appendStylesheet('/styles/home/parallax.css')#}
{#%}#}

{# Include some scripts that are required for this page #}
{# Can we define an array with script paths and include within a loop? #}
{# # set scripts = ['test.js', 'test2.js']; #}
{%
    do headScript()
        .appendFile('lib/angular-parallax/scripts/angular-parallax.js')
%}

<div ng-app="HomeApp">
    <div class="parallax-header table" parallax-background parallax-ratio="1.6">

        <h1>
            <a href="http://endpoint.spaceapi.net">
                SpaceAPI Hosting
            </a>
        </h1>

        <div class="create-endpoint table-cell">
            <a class="btn create-endpoint" href="#jsoneditor">
                Create an endpoint
            </a>
        </div>

    </div>

    <div class="parallax-body" parallax-ratio="1">

        {% include('partials/header.twig') %}
        {% include('partials/project-links.twig') %}
        {% include('partials/jsoneditor.twig') %}
        {% include('partials/footer.twig') %}

    </div>
</div>

{%
    do headScript()
        .appendFile('scripts/home/app.js')
%}
