<h1>
    <a href="http://endpoint.spaceapi.net">
        SpaceAPI Hosting
    </a>
</h1>

<div class="create-endpoint table-cell">
    <a class="btn create-endpoint" href="#jsoneditor">
        Create or edit your endpoint
    </a>
</div>
