<footer>

    <header>
        <h2>Credits to ...</h2>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-4">

                <div class="credits-container">
                    <a href="http://www.jetbrains.com/phpstorm/">
                        <div class="credits phpstorm">
                            <span>JetBrains for providing an OS license of</span>
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="credits-container">
                    <a href="http://jsoneditoronline.org/">
                        <div class="credits josdejong">
                            <span>Jos De Jong for his amazing</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2"></div>

        </div>
    </div>

</footer>
