{#####################################################################
    Use this partial as follows:

    {%
        set jeditor_config = {
            'default_input': jsoneditor_default_input | json_without_gist,
            'use_noscript': true,
            'ace_config':'{onChange:aceChanged}'
        }
    %}
    {% include 'partials/jsoneditor.twig' with jeditor_config only %}

    Configuration options:

     - default_input: (string) text to be displayed initially
     - use_noscript:  (boolean) flag which specifies whether to render
                      the noscript block
     - ace_config:    (string) javascript object literal with ace configuration,
                      See github.com/angular-ui/ui-ace

#####################################################################}


{%  do headLink()
        .appendStylesheet('/lib/font-awesome/css/font-awesome.min.css')
        .appendStylesheet('/lib/angular-jsoneditor/build/angular-jsoneditor.css')
%}

{%
    do headScript()
        .appendFile('/lib/slopjong-ui-ace/src/ui-ace.js')
        .appendFile('/lib/ace-builds/src-min-noconflict/ace.js')
        .appendFile('/lib/angular-sj-input/sj-input.js')
        .appendFile('/lib/angular-jsoneditor/build/angular-jsoneditor.js')
%}

{% if use_noscript %}
<noscript>

    <style>

        .je-splitter {
            display: none;
        }

        #jsoneditor-noscript {
            position: relative;
            text-align: center;
        }

        #jsoneditor-noscript img {
            width: 100%;
            max-width: 1108px;
            padding-bottom: 20px;
        }

        #jsoneditor-noscript div {
            position: relative;
            top: 100px;
            background: #eee;
            border: solid 1px #888;
            padding: 3px;
            opacity: 0.85;
            font-weight: bold;
        }

        #jsoneditor-noscript > div:first-child a {
            text-decoration: none;
            background: #888;
            border: 1px solid #333333;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #FFFFFF;
            padding: 1px 5px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        #jsoneditor-noscript > div:first-child a:hover {
            background: #fff;
            color: #333;
        }

    </style>

    <div id="jsoneditor-noscript">
        <div>Enable JavaScript in order to use the SpaceAPI JSON editor.<br> Click <a href="/endpoint/edit">here</a> to edit an existing endpoint.</div>
        <img src="/img/jsoneditor_noscript.png">
    </div>

</noscript>
{% endif %}

<div je-splitter nosync="true"
    {% if default_input %}
    json="{{ default_input }}"
    {% endif %}
    >
    <div je-container>
        {% if ace_config %}
            <div je-ace="{{ ace_config }}"></div>
        {% else %}
            <div je-ace></div>
        {% endif %}
    </div>
    {#<div je-container>#}
        {#<div je-tree schema="spaceapi-schema.json"></div>#}
    {#</div>#}
</div>
