{#####################################################################
    Use this partial as follows:

    {%
        set jeditor_config = {
            'jsoneditor_default_input': jsoneditor_default_input | json_without_gist,
            'use_noscript': true
        }
    %}
    {% include 'partials/jsoneditor.twig' with jeditor_config only %}
#####################################################################}


{%  do headLink()
        .appendStylesheet('/lib/font-awesome/css/font-awesome.min.css')
        .appendStylesheet('/lib/angular-jsoneditor/build/angular-jsoneditor.css')
%}

{%
    do headScript()
        .appendFile('/lib/slopjong-ui-ace/src/ui-ace.js')
        .appendFile('/lib/ace-builds/src-min-noconflict/ace.js')
        .appendFile('/lib/angular-sj-input/sj-input.js')
        .appendFile('/lib/angular-jsoneditor/build/angular-jsoneditor.js')
%}

{% if use_noscript %}
<noscript>

    <style>

        .je-splitter {
            display: none;
        }

        #jsoneditor-noscript {
            position: relative;
            text-align: center;
        }

        #jsoneditor-noscript img {
            width: 100%;
            max-width: 1108px;
            padding-bottom: 20px;
        }

        #jsoneditor-noscript div {
            position: relative;
            top: 100px;
            background: #eee;
            border: solid 1px #888;
            padding: 3px;
            opacity: 0.85;
            font-weight: bold;
        }

    </style>

    <div id="jsoneditor-noscript">
        <div>Enable JavaScript in order to use the SpaceAPI JSON editor.</div>
        <img src="/img/jsoneditor_noscript.png">
    </div>

</noscript>
{% endif %}

<div je-splitter
    {% if jsoneditor_default_input %}
    json="{{ jsoneditor_default_input }}"
    {% endif %}
    >
    <div je-container>
        <div je-ace></div>
    </div>
    {#<div je-container>#}
        {#<div je-tree schema="spaceapi-schema.json"></div>#}
    {#</div>#}
</div>
