
{# Include some stylesheets that are required for this page #}
{%  do headLink().appendStylesheet('/styles/home/parallax.css') %}

{# Include some scripts that are required for this page #}
{# Can we define an array with script paths and include within a loop? #}
{# # set scripts = ['test.js', 'test2.js']; #}
{%
    do headScript()
        .appendFile('lib/angular-parallax/scripts/angular-parallax.js')
        .appendFile('scripts/home/parallax.js')
%}

<div>
    <div class="parallax-header" parallax-background parallax-ratio="1.6">

        <div class="header">
            <ul class="nav nav-pills pull-right" >
                <li><a href="/endpoint/create">Create an<br>endpoint</a></li>
            </ul>
            <h1>
                <img class="logo" alt="SpaceAPI" src="/img/spaceapi-logo.png">
            </h1>
        </div>

    </div>
    <div class="parallax-body" parallax-ratio="1">
        <ul>
            <li>What is this website about?</li>
            <li>Slider which shows with 3 images how to create a new endpoint</li>
            <li>donation</li>
        </ul>
    </div>
</div>
