
{%  do headLink()
        .appendStylesheet('/lib/jsoneditor/jsoneditor-min.css')
        .appendStylesheet('/jsoneditor/jsoneditor-app.css')
%}

{# headScript is put to the bottom, they're not output in the header! #}
{%
    do headScript()
        .appendFile('jsoneditor/jsoneditor-min.js')
        .appendFile('jsoneditor/jsoneditor-app.js')
        .appendFile('jsoneditor/jsoneditor-deps.js')
%}

{# TODO: We shouldn't use inline styles #}
<style type="text/css">

    div.convert-right {
        background: url('jsoneditor/img/jsoneditor-icons.png') -0 -48px;
    }

    div.convert-left {
        background: url('jsoneditor/img/jsoneditor-icons.png') -24px -48px;
    }
</style>

<section style="background: #fff;">

    <h2>Edit</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="auto">
                    <div id="contents">

                        <div id="codeEditor"></div>

                        <div id="splitter">
                            <div id="buttons">
                                <div>
                                    <button id="toTree" class="convert"
                                            title="Copy code to tree editor">
                                        <div class="convert-right"></div>
                                    </button>
                                </div>
                                <div>
                                    <button id="toCode" class="convert"
                                            title="Copy tree to code editor">
                                        <div class="convert-left"></div>
                                    </button>
                                </div>
                            </div>
                            <div id="drag"></div>
                        </div>

                        <div id="treeEditor"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
