
.validation-results {

  padding: 5px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left !important;

  .message {
    font-family: Gafata,sans-serif;
    font-size: 1.2em;
  }

  // common styles (but configurable)
  @mixin message_block($text_color, $background_color, $border_color) {
    color: $text_color;
    background: none repeat scroll 0 0 $background_color !important;
    border: 2px solid $border_color !important;

    a {
      display: inline-block;
      color: $text_color !important;
      font-family: Gafata,sans-serif;
      font-size: 1em;
      margin-left: 5px;
      margin-right: 5px;

      i {
        font-size: 0.8em;
      }
    }
  }

  &.ok {
    @include message_block(#529214, #E6EFC2, #C6D880);
  }

  &.error {
    @include message_block(#D12F19, #FBE3E4, #FBC2C4);

    ul {
      margin-top: 20px;
      font-family: monospace, serif;
      font-size: 0.7em;

      li {
        hr {
          border: 0;
          height: 1px;
          opacity: 0.4;

          // override bootstrap's margins
          margin-top: 4px;
          margin-bottom: 4px;

          // if something should be changed here, import the css code
          // below in the css gradient generator here:
          // http://www.colorzilla.com/gradient-editor/
          background: -moz-linear-gradient(left, rgba(209,47,25,0.73) 0%, rgba(209,47,25,0) 82%, rgba(209,47,25,0) 99%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(209,47,25,0.73)), color-stop(82%,rgba(209,47,25,0)), color-stop(99%,rgba(209,47,25,0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left, rgba(209,47,25,0.73) 0%,rgba(209,47,25,0) 82%,rgba(209,47,25,0) 99%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left, rgba(209,47,25,0.73) 0%,rgba(209,47,25,0) 82%,rgba(209,47,25,0) 99%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left, rgba(209,47,25,0.73) 0%,rgba(209,47,25,0) 82%,rgba(209,47,25,0) 99%); /* IE10+ */
          background: linear-gradient(to right, rgba(209,47,25,0.73) 0%,rgba(209,47,25,0) 82%,rgba(209,47,25,0) 99%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad12f19', endColorstr='#00d12f19',GradientType=1 ); /* IE6-9 */
        }

        // hide the last separator because there's no error message after
        &:last-of-type hr {
          display: none;
        }
      }
    }
  }
}
