
@font-face {
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/yanonekaffeesatz/YanoneKaffeesatz-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/yanonekaffeesatz/YanoneKaffeesatz-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/yanonekaffeesatz/YanoneKaffeesatz-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/yanonekaffeesatz/YanoneKaffeesatz-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Gafata";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Gafata/Gafata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

.header .logo {
    width: 100px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Gafata', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/*.container {*/
    /*width: 100%;*/
    /*padding: 0;*/
/*}*/

footer {
    /*background: #5854B5;*/
    background: #222;
    color: white;

    /* http://css3gen.com/box-shadow/ */
    -webkit-box-shadow: 0px -4px 5px 0px rgba(100, 50, 50, 0.55);
    -moz-box-shadow:    0px -4px 5px 0px rgba(100, 100, 100, 0.55);
    box-shadow:         0px -4px 5px 0px rgba(100, 100, 100, 0.55);
}

.credits-container {
    position: relative;
    padding-bottom: 10px;
}

.credits-container a {
    text-decoration: none;
}

.credits {

    background: #888;

    display: table-cell;
    vertical-align: middle;

    height: 50px;
    background-position: right;
    background-repeat: no-repeat;
    border: solid 1px white;
    padding: 2px 203px 2px 3px;
    line-height: 1em !important;
}

.credits.phpstorm {
    background-image: url('/img/credits/phpstorm_logo.gif');
    background-size: 200px 50px;
}

.credits.josdejong {
    background-image: url('/img/credits/jsoneditor_online.png');
    background-size: 200px 30px;
}

.credits span {
    color: white;
    font-size: 0.9em;
    line-height: 0.1em;
}
