<?php

return array(

    'emails' => array(
        'you@example.com',
        'me@example.com',
    ),

    'gist_token' => 'put your token here',

    // get your key pair on http://recaptcha.net
    'recaptcha' => array(
        'public'  => '',
        'private' => '',
    )
);
