<?php

return array(

    'enabled_logger' => array(
        'error_log'  => true,
    ),

    'emails' => array(
        'you@example.com',
        'me@example.com',
    ),

    'gist_token' => 'put your token here'
);
